---
import Nav1 from '../components/Nav1.astro';
import SliderMain from '../components/SliderMain.astro';
---

<div>
    <Nav1 />
	<SliderMain />
</div>

<style>
	body {
		margin: 0;
		padding: 0;
	
	}
</style>