---
import Nav2 from "../components/Nav2.astro";
import SliderMain from "../components/SliderMain.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <Nav2 />
    <SliderMain />
    <div style="height:2000px;">test</div>
    <div style="height:2000px;">test</div>
    <div style="height:2000px;">test</div>
    <div style="height:2000px;">test</div>
  </div>
</Layout>
<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>
