---
import SliderMain from "../components/SliderMain.astro";
import Layout from "../layouts/Layout.astro";
import ModButton from "../components/modButton.astro";
import ModFooter from "../components/ModFooter.astro";
import TempMenu from "../components/tempMenu.astro";
---

<Layout>
  <div>
    <ModButton
      show={true}
      message="Submit"
      bg="red"
      hoverColor="blue"
      color="white"
    />

    <TempMenu />

    <SliderMain />

    <div style="height:2000px;">test</div>
  </div>
</Layout>
<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>
