---

---

<div>
  <div class="navContainer">
    <nav class="largeNav">
      <li>Home (logo)</li>
      <li class="clickFirstDrop">
        Residential <div class="droptick">></div>
        <div id="drop1" class="active inactive">
          <p>drop1</p><p>drop1</p><p>drop1</p><p>drop1</p><p>drop1</p>
        </div>
      </li>
      <li>
        Commercial<div class="droptick">></div>
        <div id="drop2" class="active inactive">
          <p>drop1</p><p>drop1</p><p>drop1</p><p>drop1</p><p>drop1</p>
        </div>
      </li>
      <li>Contact</li>
      <li>About</li>
      <li><button class="ctabutton">Get a Quote</button></li>
    </nav>
  </div>
  <nav class="smallNav">
    <div class="item1">Home</div>
    <div class="item2">Residential</div>
    <div class="item3">Commercial</div>
    <div class="item4">Contact</div>
    <div class="item5">About</div>
    <div class="item6"><button class="ctabutton">Get a Quote</button></div>
  </nav>
</div>

<style>
  .active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    background-color: var(--accent-1);
    min-width: 100px;
    color: var(--primary-1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    justify-content: center;
    align-items: center;
  }
  .inactive {
    display: none;
  }
  .drop1 p {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .navContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--accent-1);
  }
  .smallNav {
    display: none;
  }
  .largeNav {
    justify-content: center;
    align-items: center;
    min-width: 750px;
    max-width: 1400px;
    background-color: var(--accent-1);
    display: flex;
    max-width: 1000px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-1);
    padding: 10px;
  }

  nav li {
    list-style: none;
    color: var(--primary-2);
    cursor: pointer;
    background-color: var(--accent-1);
    margin: 10px;
  }

  nav li:hover {
    text-decoration: underline;
  }
  .clickFirstDrop {
    display: flex;
  }
  .droptick {
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 3px;
    position: relative;
    top: 3px;
  }
  .ctabutton {
    background-color: var(--primary-1);
    color: white;
    border: none;
    padding: 10px 20px;

    cursor: pointer;
  }
  @media (max-width: 800px) {
    nav li {
      margin-bottom: 10px;
    }
    .largeNav {
      display: none;
    }
    .smallNav {
      display: grid;
      grid-template-columns: auto auto auto auto; /* Last column takes remaining space */
      grid-template-rows: repeat(4, auto); /* Define 4 rows explicitly */
      gap: 5px;
      background-color: var(--accent-1);
      padding: 2px;
    }

    .smallNav > div {
      color: var(--primary-2);
      text-align: center;
      padding: 7px;
      font-size: 14px;
      text-decoration: underline;
      text-decoration-color: var(--primary-3);
      cursor: pointer;
    }

    .item1 {
      grid-row: 1 / span 2;
    }

    .item6 {
      grid-column: 4 / 5;
      grid-row: 1 / span 2; /* Only span 2 rows */
    }
  }
</style>

<script>
  const droptick = document.querySelectorAll(".droptick");
  const drop1 = document.querySelector("#drop1");
  const drop2 = document.querySelector("#drop2");

  function handleFirstDrop() {
    if (!drop1) return;
    drop1.classList.toggle("inactive");
  }

  function handleFSecondDrop() {
    if (!drop2) return;
    drop2.classList.toggle("inactive");
  }

  const firstDropDownElement = document.querySelector(".clickFirstDrop");
  const secondDropDownElement = document.querySelector(".clickFirstDrop");
  if (firstDropDownElement) {
    firstDropDownElement.addEventListener("click", function () {
      return handleFirstDrop();
    });
  }

  if (secondDropDownElement) {
    secondDropDownElement.addEventListener("click", function () {
      return handleSecondDrop();
    });
  }
</script>
