---
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";
---

<Swiper
  options={{
    // check options at https://swiperjs.com/swiper-api
    autoplay: {
      delay: 5000,
      disableOnInteraction: true,
      waitForTransition: false,
    },
    loop: true,
  }}
>
  <SwiperWrapper>
    <!-- Slides -->
    <SwiperSlide>
      <img src="/img/lawn2.jpg" alt="" />
    </SwiperSlide>
    <SwiperSlide>
      <div class="sliderText">test div inside swiper slide</div>
    </SwiperSlide>
    <SwiperSlide>
      <img src="/img/lawn.jpg" alt="" />
    </SwiperSlide>
  </SwiperWrapper>
</Swiper>

<style>
  .swiper {
    max-height: 80vh;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  img {
    width: 100%;
  }
  .sliderText {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    background-color: rgba(0, 0, 0, 0.5);
  }
</style>
