---
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";
---

<Swiper
  options={{
    // check options at https://swiperjs.com/swiper-api
    autoplay: {
      delay: 5000,
      disableOnInteraction: true,
      waitForTransition: false,
    },
    loop: true,
  }}
>
  <SwiperWrapper>
    <!-- Slides -->
    <SwiperSlide>
      <img src="https://picsum.photos/455/256?nb=2" alt="" />
    </SwiperSlide>
    <SwiperSlide>
      <div>test div inside swiper slide</div>
    </SwiperSlide>
    <SwiperSlide>
      <img src="https://picsum.photos/455/256?nb=3" alt="" />
    </SwiperSlide>
  </SwiperWrapper>
</Swiper>

<style>
  .swiper {
    max-height: 80vh;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  img {
    width: 100%;
  }
</style>
