<div>
  <ul>
    <li>
      <a href="/fertilizer">fertilizer page</a>
      <a href="/hardsurface">hardsurface page</a>
      <a href="/irrigation">irrigation page</a>
      <a href="/landscape">landscape page</a>
      <a href="/lawn">lawn page</a>
      <a href="/pest">pest page</a>
      <a href="/treeservice">treeservice page</a>
    </li>
  </ul>
</div>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin: 5px 0;
  }
  a {
    color: var(--primary-1);
  }
  a:hover {
    text-decoration: underline;
  }
</style>
