---
import ModFooter from "../components/ModFooter.astro";
import NavNoDrop from "../components/NavNoDrop.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Lawn Maintenance</title>
  </head><add name="X-Content-Type-Options" value="nosniff"></add>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
    rel="stylesheet"
  />

  <body>
    <div class="page-wrapper">
      <div class="content">
        <NavNoDrop />
        <slot />
      </div>
      <ModFooter />
    </div>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
      font-family: "Montserrat", "Arial", sans-serif;

      font-weight: 700;
    }
    .page-wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .content {
      flex: 1;
    }

    :root {
      --main1: #75c21fff;
      --main2: rgb(136, 211, 14);
      --attention1: rgb(245, 224, 34);
      --attention2: #e4f522ff;
      --sub1: #22f5a3ff;
      --sub2: #4970f5ff;
      --dark1: #23201fff;
      --dark2: #c2421eff;
      --dark3: #53555dff;

      --green: #75c21fff;
      --lime: #e4f522ff;
      --aquamarine: #22f5a3ff;
      --blue: #4970f5ff;
      --black: #23201fff;
      --brown: #c2421eff;
      --gray: #53555dff;
    }
  </style>


</html>
